.animated-background-home {
    width: 100vw;
    background: linear-gradient(45deg, #f38b8b, #fdfdd8);
    background-size: 200% 200%;
}

.animated-background {
    width: 100vw;
    background: linear-gradient(45deg, #32cd32, #4169e1);
    background-size: 200% 200%;
}